@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #fb8cce;
}
.box img{
	width: 200px;
	height: 175px;
	padding: 20px;
	background-color: white;
	box-shadow:5px 5px 3px rgba(97,171,225,0.5);
	-webkit-box-shadow:5px  5px 3px rgba(97,171,225,0.5);
	-ms-box-shadow:5px  5px 3px rgba(97,171,225,0.5);
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	
	/*相对定位*/
	position:relative;
	/*层级  最高为99 可以为负数*/
	z-index: 1;
}
.box{
	width: 1400px;
	height: 800px;
	margin: 50px auto;
}
.box img:nth-child(1)
{
	 transform: rotate(-5deg);
}
.box img:nth-child(2)
{
	transform: rotate(-10deg);
}
.box img:nth-child(3)
{
	transform: rotate(5deg);
}
.box img:nth-child(4)
{
	transform: rotate(15deg);
}
.box img:nth-child(5)
{
	transform: rotate(-10deg);
}
.box img:nth-child(6)
{
	transform: rotate(5deg);
}
.box img:nth-child(7)
{
	transform: rotate(10deg);
}
.box img:nth-child(8)
{
	transform: rotate(-5deg);
}
.box img:nth-child(9)
{
	transform: rotate(10deg);
}
.box img:nth-child(10)
{
	transform: rotate(5deg);
}
.box img:nth-child(11)
{
	transform: rotate(-10deg);
}
.box img:nth-child(12)
{
	transform: rotate(5deg);
}
.box img:nth-child(13)
{
	transform: rotate(-10deg);
}
.box img:nth-child(14)
{
	transform: rotate(5deg);
}
.box img:nth-child(15)
{
	transform: rotate(10deg);
}
.box img:nth-child(16)
{
	transform: rotate(-5deg);
}
.box img:nth-child(17)
{
	transform: rotate(-10deg);
}
.box img:nth-child(18)
{
	transform: rotate(5deg);
}

.box img:hover{
	transform: rotate(0) scale(1.2);
	-webkit-transform: rotate(0) scale(1.2);
	
	box-shadow:5px 5px 3px rgba(97,171,225,1);
	-webkit-box-shadow:5px  5px 3px rgba(97,171,225,1);
	-ms-box-shadow:5px  5px 3px rgba(97,171,225,1);
	z-index: 2;
}
